<div class="container text-center">
    <h1 class="fw-bold fst-italic">Productos en tiempo real</h1>
    <div class="row row-cols-3" id="productsContainer"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>