<h2>Ingresa tu nueva Contraseña</h2>
<form action='/api/sessions/recovery-password/{{uid}}' method='POST'>
    <label for='email'>Ingresa tu email de registro:</label>
    <input type='email' name='email' required />
    <label for='password'>Nueva Contraseña:</label>
    <input type='password' name='password' required />
    <button type='submit'>Restablecer</button>
</form>